<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
			integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="../../style.css" />
		<title>Test Skill</title>
	</head>
	<body>
		<div class="w-full min-h-screen flex justify-center items-center">
			<div
				class="w-[50%] h-[50%] flex flex-col justify-center items-center px-5 py-5 gap-3"
			>
				<h1 class="text-3xl">Register with Google</h1>
				<a
					href="/auth/google"
					class="border p-3 rounded-full bg-red-500 text-white text-light"
				>
					<i class="fa-brands fa-google-plus-g"> register</i>
				</a>
			</div>
		</div>
	</body>
</html>
